.devcontainer
.github
.vscode
.prettierignore
.mergify.yml
.prettierrc
.eslintignore

coverage/
src/__tests__/
integration/

cc-reporter
cc-reporter.sha256
cc-reporter.sha256.sig
renovate.json

public-key.asc