name: Mergability Check

on:
  push:
    branches-ignore:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Installing node.js
        uses: actions/setup-node@v2
        with:
          node-version: lts/*
          cache: 'yarn'
          cache-dependency-path: 'integration/**/yarn.lock'
      - name: Install dependencies    
        run: yarn --frozen-lockfile && yarn install:integration
      - name: Lint
        run: yarn lint
      - name: Test
        timeout-minutes: 4
        with:
          coverageCommand: yarn test:coverage --ci
